*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6dc8df;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center; 
}

.principal{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e1c6;
  height: 100vh;
  width: 100vw;
}

.caixa-maior{
  background-color: #6dc8df;
  width: 95%;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  padding: 15px;
  margin:2px;
  border-radius: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
 

}

.titulo{
  text-transform: uppercase;
  background-color: #0b82cc;
  margin-bottom:2rem;
  border-radius:30px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 9px 40px;
  width: 30rem;
  height: 4rem;
}

.input-cidade ,.pesquisar{
 border: none;
 outline: none;
 padding: 0.5rem;
 border-radius: 2rem;
 font-size: 1.5rem;
 background-color: #ffffff;
 flex-direction: column;
 width: 25rem;
 height: 3rem;
 display: block;
}

.pesquisar{
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  text-align: center;
  }

.pesquisar:hover{
  background-color: #edbb7e
}

.pesquisar:active{
  background: color #f3c894;;
  color:#000a46;
  opacity: 0.6;
}
.caixa-menor{
  background-color: #6dc8df;
  margin-bottom: 2rem;
 }

.cidade, .descricao, .umidade, .temp{
  font-size: 2rem;
  margin-bottom: 1rem;
  align-items: center;
}

.img{
width: 4rem;
border-radius: 1rem;
margin-bottom: 0.5rem;

}

.icon{
  width: 9rem;
}
 